.nav {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 2px white;
    margin-right: 7px;
    margin-left: 7px;
}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
    width: calc(100% / 4);
    max-width: 100px;
    border-radius: 10%;
    margin: 3px;
    padding: 2px;
}

.nav li:nth-child(1) {
    background-color: white;
}

.nav li:nth-child(2) {
    background-color: #e49235;
    color: white;
}

.nav li:nth-child(3) {
    background-color: #2db6dc;
    color: white;
}

.nav li:nth-child(4) {
    background-color: rgb(133, 133, 133);
    color: white;
}



.button {
    height: 40px;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background: rgb(77, 77, 77);
        color: white;
    }
}

.font {
    font-size: 0.8rem;
    font: bold;
}