.nav {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 2px white;
}

.nav li {
    list-style-type: none;
    height: 40px;
    width: calc(100% / 4);
    max-width: 100px;
    border-radius: 10%;
}

.nav li:nth-child(1) {
    background-color: white;
}

.nav li:nth-child(2) {
    background-color: #ffb45e;
    color: white;
}

.nav li:nth-child(3) {
    background-color: #21a6d2;
    color: white;
}

.nav li:nth-child(4) {
    background-color: rgb(200, 200, 200);
    color: white;
}



.button {
    /* list-style-type: none; */
    height: 40px;
    width: 100%;
    max-width: 100px;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        background: rgb(77, 77, 77);
        color: white;
        font: bold;
    }

    .button:hover button {
        transform: translateX(4px);
    }
}

.font {
    font-size: .8em;
}