.container {
    /* position: relative;
    overflow-y: scroll;
    padding-top: 200%; */
    width: 100%;
    height: calc(100vh - 100px);
}

.container iframe {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}


@media (max-width: 700px) {
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-top: 200%;
    }

    .container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}