.description {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: solid 5px #14314a;
  z-index: 3;
  background-color: white;
}

.nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.description li {
  list-style-type: none;
}

.button {
  height: auto;
  padding: 9px 7px 9px 7px;
  margin-left: 3px;
  color: white;
  background-color: #14314a;
  border: none;
  border-radius: 10%;
  font-size: 1em;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.grid li {
  list-style: none;
  width: 100%;
}

.card1 {
  height: calc(45vh - 65px);
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #14314a;
  margin: 5% 2% 5% 5%;
  border-radius: 10%;
}

.card2 {
  height: calc(45vh - 65px);
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #14314a;
  margin: 5% 5% 5% 2%;
  border-radius: 10%;
}

.card1 {
  color: white;
}

.card2 {
  color: white;
}


/* .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border: solid 5px #14314a;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 20px;
  background-color: white;
  font-size: .3rem;
}

 */









/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.8);
    border: 1px solid rgba(var(--card-border-rgb), 0.5);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {


  .grid {
    grid-template-columns: 1fr;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .card1 {
    height: calc(50vh - 130px);
    width: AUTO;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14314a;
    margin: 10px 10px 5px 50px;
    border-radius: 10%;
  }

  .card2 {
    height: calc(50vh -130px);
    width: AUTO;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14314a;
    margin: 5px 50px 10px 10px;
    border-radius: 10%;
  }

  .font {
    font-size: .6em;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.title {
  font-size: 2rem;
}